
body {
	background: #444;
	width:1000px;
	margin:0 auto;
	padding: 0;
	
}



header, nav {
	margin-bottom: 1em;
}
header h1, h2, h3, h4, h5 {
	color: white;
	text-align: center;
}

.right {
	text-align: left;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav li {
	display: inline-block;
}
nav li a {
	display: block;
	width: 100px;
	padding: 0.5em;
	text-align: center;
	font-family: 'Montserrat';
	color: white;
	text-decoration: none;
	transition: 300ms;
}
nav li a:hover {

}

section{
	margin: 0 auto;
}


aside {
	float: left;
	width: 260px;
	height: 200px;

}

.col1 {
 	float: left; 
	border: 1px solid black; 
	background-color: #fed136; 
	margin-left: 5px;
	margin-top: 10px;
	color: black;
}

.col2 {
	width: 320px; 
	height: 200px; 
	float: left; 
	margin-left: 10px; 
	margin-top: 150px;
	color: black;
}	

#wrapper {
	width: 1000px; 
	height: 601px; 
	margin-right: auto; 
	margin-left: auto; 
	
}
.test1 {
	width: 250px; 
	height: 187px; 
	float: left; 
	border: 1px solid white; 
	margin-left: 10px;
	margin-top: 20px;
	background-color: #ddeeff;
}

.test2 {
	width: 730px; 
	height: 187px; 
	float: left; 
	border: solid 1px white;  
	margin-left: 10px; 
	margin-top: 20px;

}	

p{
	text-align: center;
}

#center{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	
}
